* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* MAIN */
main {
    background-color: brown;
    height: 100vh;
}

/* sezione calcolo */
.container {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.title {
    margin: 0 auto;
    padding: 20px 0;
    color: white;
    font-size: 30px;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.d-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item > div {
    font-size: 20px;
    color: brown;
    margin-bottom: 15px;
}

input,
select {
    font-size: 20px;
    border: 1px solid brown;
    border-radius: 5px;
}

 #calcola {
    display: inline-block;
    background-color: brown;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 30px;
}

#calcola:hover {
    cursor: pointer;
}

/* sezione biglietto */
.container.left {
    text-align: left;
}

h4,
#username {
    font-size: 25px;
    margin: 25px 0 15px;
}

#ticket,
#carriage,
#cpcode,
#price,
h6 {
    font-size: 18px;
    margin: 25px 0 15px;
}

.details {
    margin-bottom: 30px;
}

.d-flex.left {
    justify-content: space-between;
    border: 1px solid brown;
    border-right: none;
    padding: 20px;
}

